.join {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  width: 480px;
}

.join-left__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.join-left__details-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.join-left__details-heading span {
  display: flex;
  flex-direction: column;
  color: var(--light-gray);
  font-weight: 600;
  font-size: 14px;
}

.join-left__details-heading h1 {
  font-size: 36px;
  font-weight: 700;
}

.join-action {
  display: flex;
  align-items: center;
  gap: 24px;
}

.join-action a:last-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 1024px) {
  .join {
    flex-direction: column;
    align-items: center;
    gap: 96px;
  }

  .join-left {
    width: 100%;
    align-items: center;
    /* gap: 24px; */
    text-align: center !important;
  }

  .join-left__details {
    align-items: center;
  }

  .join-left__details-heading {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .join {
    gap: 52px;
  }

  .join-left {
    gap: 24px;
  }
}

@media screen and (max-width: 512px) {
  .join {
    align-items: flex-start;
  }

  .join-left {
    align-items: flex-start;
    text-align: left !important;
    gap: 32px;
  }

  .join-left__details {
    align-items: flex-start;
  }

  .join-us {
    width: 100%;
  }

  .join-left__details-heading {
    align-items: flex-start;
  }

  .join-left__details-heading span {
    text-align: left !important;
  }

  .join-left__details {
    gap: 12px;
  }
}
