@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --nigger: #000;
  --neon-lime: #19ff1d;
  --dark-gray: #1a1a1a;
  --chad: #ffffff;
  --light-gray: #b3b3b3;
  --off-white: #f0f0f0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--chad);
  background: var(--nigger);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.primary-button {
  padding: 12px 16px;
  border-radius: 12px;
  background: var(--neon-lime);
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.25) inset;
  color: var(--nigger);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.primary-button:hover {
  box-shadow: 0px 0px 16px 0px rgba(25, 255, 29, 0.8),
    0px -4px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.secondary-button {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid var(--neon-lime);
  background: none;
  color: var(--neon-lime);
  font-weight: 600;
  font-size: 16px;
}

.secondary-button:hover {
  background: rgba(25, 255, 29, 0.25);
}

a {
  color: var(--chad);
  text-decoration: none;
}

.container {
  position: relative;
}

.esc-circle {
  position: absolute;
  top: 30px;
  right: -98.7px;
  pointer-events: none;
}

section {
  padding: 48px 100px;
}

.faq-glow {
  position: absolute;
  top: 3604px;
  left: 50%;
  transform: translateX(-50%);
  width: 276px;
  height: 283px;
  background: rgba(25, 255, 29, 0.75);
  filter: blur(100px);
  opacity: 0.1;
  z-index: -1;
}

.tg {
  position: absolute;
  width: 276px;
  height: 283px;
  background: rgba(25, 255, 29, 1);
  filter: blur(100px);
  opacity: 0.1;
  z-index: -1;
}

.test-glow-1 {
  top: 3993px;
  left: 186px;
}

.test-glow-2 {
  top: 5206px;
  right: 227px;
}

@media screen and (max-width: 768px) {
  .primary-button,
  .secondary-button {
    padding: 16px;
    font-size: 16px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 480px) {
  .primary-button,
  .secondary-button {
    padding: 10px 12px;
    font-size: 14px !important;
  }
}
