.team-container {
  padding: 64px 100px;

  display: flex;
  flex-direction: column;
  gap: 64px;
}

.team-container__content-tabs button {
  padding: 12px 16px;
  font-size: 14px;
}

.team-container__content-tabs {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-container__content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.team-container__content-team {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 36px;
  justify-content: space-between;
}
